In [1]:
import numpy as np
import pandas as pd

In [3]:
crash = pd.read_csv('crash_clean.csv')

In [4]:
crash.head()

,Unnamed: 0,Crash_ID,Crash_Fatal_Fl,Crash_Date,Crash_Time,Rpt_Rdwy_Sys_ID,Rpt_Hwy_Num,Private_Dr_Fl,Crash_Speed_Limit,At_Intrsct_Fl,...,Obj_Struck_ID,Latitude,Longitude,Street_Name,Street_Nbr,Street_Name_2,Crash_Sev_ID,Day_of_Week,Tot_Injry_Cnt,Death_Cnt
0,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,64,30.376001,-97.673639,E BRAKER LN,867.0,NaN,3,FRI,2,0
1,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,29,30.307715,-97.726472,E 45TH ST,300.0,UNKNOWN,3,FRI,1,0
2,2,11154056,N,01/13/2010,06:38 PM,19,NaN,N,35,Y,...,64,30.265225,-97.740032,E 4TH ST,398.0,TRINITY ST,3,WED,1,0
3,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,64,30.300115,-97.732672,E 38TH ST,200.0,UNKNOWN,3,WED,1,0
4,4,11154059,N,01/12/2010,04:51 PM,1,35,N,55,N,...,64,30.292341,-97.721250,IH0035,NaN,NaN,5,TUE,0,0

In [5]:
p_person = pd.read_csv('primary_person_clean.csv')

In [15]:
p_person.head(100)

,Unnamed: 0,Crash_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Alc_Spec_Type_ID,Prsn_Alc_Rslt_ID,Prsn_Bac_Test_Rslt,Prsn_Drg_Rslt_ID,Drvr_Drg_Cat_1_ID
0,0,11152580,1.0,3.0,24.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
1,1,11152580,1.0,5.0,60.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
2,2,11152580,1.0,5.0,23.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
3,3,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
4,4,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,11161441,1.0,2.0,70.0,1.0,2.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
96,96,11161441,1.0,2.0,19.0,1.0,2.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
97,97,11161443,1.0,5.0,52.0,2.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
98,98,11161443,1.0,3.0,48.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
99,99,11161802,1.0,5.0,21.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0

In [7]:
merged = crash.merge(p_person, left_on='Crash_ID', right_on='Crash_ID')

In [17]:
merged.head(100)

,Unnamed: 0_x,Crash_ID,Crash_Fatal_Fl,Crash_Date,Crash_Time,Rpt_Rdwy_Sys_ID,Rpt_Hwy_Num,Private_Dr_Fl,Crash_Speed_Limit,At_Intrsct_Fl,...,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Alc_Spec_Type_ID,Prsn_Alc_Rslt_ID,Prsn_Bac_Test_Rslt,Prsn_Drg_Rslt_ID,Drvr_Drg_Cat_1_ID
0,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
1,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
2,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
3,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
4,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,1.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,49,11161441,N,01/22/2010,01:06 PM,3,183,N,55,Y,...,2.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
96,49,11161441,N,01/22/2010,01:06 PM,3,183,N,55,Y,...,2.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
97,50,11161443,N,01/22/2010,07:08 AM,2,183,N,70,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
98,50,11161443,N,01/22/2010,07:08 AM,2,183,N,70,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
99,51,11161802,N,01/05/2010,08:17 AM,19,NaN,N,30,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0

In [21]:
merged.to_csv('demographic.csv')